/*font*/
.white-text {
  color: azure;
  font-size: 16px;
}

.big-text {
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}

.bold-text {
  font-weight: bold;
}

/*Margin*/
.no-top-margin {
  margin-top: 0%;
}

.top-margin {
  margin-top: 2%;
}
.top-margin-5 {
  margin-top: 5%;
}

.y-margin {
  margin-top: 2%;
  margin-bottom: 2%;
}

.x-margin {
  margin-right: 2%;
  margin-left: 2%;
}

/*Padding*/

.no-top-padding {
  padding-top: 0px;
}
.y-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Spacing*/

.horizontal-spacing {
  margin: 0px 7px;
}

.horizontal-spacing-r {
  margin: 0px 7px 0px 0px;
}

/*height*/
.full-height {
  height: 100%;
}

/*width*/
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
