/* Modificaciones que van a afectar los valores flex */

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-content-start {
  justify-content: start;
}
.flex-content-end {
  justify-content: end;
}
.flex-content-space-bt {
  justify-content: space-between;
}

.flex-item-center {
  align-items: center;
}

.flex-self-start {
  align-self: start;
}
.flex-self-start {
  align-self: end;
}

.gap {
  gap: 1em;
}
.center {
  align-items: center;
}
.wrap {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
