.divHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
}

.leftMargin{
    margin-left: 20px;
}

.navLeftMargin{
    margin-left: 10px;
}

.postImage{
    height: 100vh;
    width: 100vh;
}