.divHome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
}

.leftMargin{
    margin-left: 20px;
}

.navLeftMargin{
    margin-left: 10px;
}

.postImage{
    height: 75vh;
    width: 75vh;
}

.inputTextLarge{
    width: 150vh;
}

.active-like{
    background-color: #008CBA;
}

.active-dislike{
    background-color: #F44336;
}

.button{
    border-radius: 8px;
    font-size: 20px;
    color: black;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}