.divProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175vh;
    background-image: url("../images/pocomSignup.png");
    background-size: cover;
}

.imageDimensions{
    width: 150px;
    height: 150px;
}

.borderPicture{
    border: solid 3px;
    border-radius: 5px;
    width: 155px;
    height: 155px;
}
